<h2 mat-dialog-title>VIDEO CHALLENGE APP - VIDEO URL</h2>
<div mat-dialog-content>
  <p>Please <b>paste</b> the <b>video url</b> to be splitted...</p>
  <form>
    <mat-form-field style="width: 100%;">
      <input style="width: 100%;" matInput placeholder="Video URL" [(ngModel)]="videoUrl" [formControl]="urlFormControl">
      <mat-error *ngIf="urlFormControl.hasError('required')">
        The video URL is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions>
  <button [disabled]="urlFormControl.hasError('required')" (click)="onSelectURL()" mat-raised-button color="primary" mat-dialog-close>START SPLITTING</button>
</mat-dialog-actions>
