<h2 *ngIf="!isEdit"  mat-dialog-title>Add Clip From Video</h2>
<h2 *ngIf="isEdit" mat-dialog-title>Edit Clip</h2>
<div mat-dialog-content>
  <p>Please select the start time and the end time to slice up, insert the clip name and tags for the clip...</p>
  <form>
    <mat-form-field style="width: 100%;">
      <input style="width: 100%;" type="text" name="clipName" matInput placeholder="Clip Name:" [(ngModel)]="name" [formControl]="nameFormControl">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        The clip name is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;" appearance="outline" color="primary">
      <mat-label>Start Time (hh:mm:ss)</mat-label>
      <input style="width: 100%;" name="startTime" type="text" placeholder="00:00:00" pattern="^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$" matInput [(ngModel)]="start" [formControl]="startTimeFormControl" step="1">
      <mat-hint>Must be less than main video duration ({{mainVideoLength}})</mat-hint>
      <mat-error *ngIf="startTimeFormControl.hasError('required')">
        The start time is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="startTimeFormControl.hasError('pattern')">
          Time format error, must be 
          <strong>hh:mm:ss</strong>
        </mat-error>
      <mat-error *ngIf="startTimeFormControl.hasError('exceedsMain')">
        Exceeds main video duration
        <strong>Error</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field style="width: 100%;" appearance="outline" color="primary">
      <mat-label>End Time (hh:mm:ss)</mat-label>
      <input style="width: 100%;" name="endTime" type="text" placeholder="00:00:00" pattern="^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$" matInput [(ngModel)]="end" [formControl]="endTimeFormControl" step="1">
      <mat-hint>Must be less than main video duration ({{mainVideoLength}}) and more than {{start}}</mat-hint>
      <mat-error *ngIf="endTimeFormControl.hasError('exceedsMain')">
        Exceeds main video duration
        <strong>Error</strong>
      </mat-error>
      <mat-error *ngIf="endTimeFormControl.hasError('pattern')">
          Time format error, must be 
          <strong>hh:mm:ss</strong>
        </mat-error>
      <mat-error *ngIf="endTimeFormControl.hasError('required')">
        The end time is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="endTimeFormControl.hasError('timeRange')">
          Incorrect time range
          <strong>Error</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-form-field >
      <input type="text" name="tagName" matInput placeholder="Tag Name:" [(ngModel)]="tag">
    </mat-form-field>
    <button type="button" (click)="addTag()" mat-raised-button color="accent">Add Tag</button><span></span>
    <p *ngIf="tags.length>0">TAGS LIST (click on tag to remove): </p>
    <p *ngIf="tags.length == 0">No tags</p>
    <mat-chip-list>
      <mat-chip (click)="removeTag(tag)" *ngFor="let tag of tags">{{tag}}</mat-chip>
    </mat-chip-list>
  </form>
</div>
<mat-dialog-actions>
  <button [disabled]="!nameFormControl.valid || !startTimeFormControl.valid || !endTimeFormControl.valid" (click)="saveClip()" mat-raised-button color="primary" mat-dialog-close>SAVE CLIP</button>
  <button mat-raised-button color="warn" mat-dialog-close >CANCEL</button>
</mat-dialog-actions>
