<mat-list>
  <h2 mat-subheader><mat-icon>playlist_play</mat-icon>Clip List</h2>
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="70px">
    <mat-grid-tile colspan="1">
        <mat-form-field >
            <input type="text" name="search" matInput placeholder="Search by tag:" [(ngModel)]="search">
          </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let clip of videoClipList|searchTags : search; let i = index" [ngClass]="{'isMainVideo': clip.isMainVideo,'playing':i == currentClipIndex }">
    <mat-icon *ngIf="clip.isMainVideo" mat-list-icon>movie</mat-icon>
    <mat-icon *ngIf="!clip.isMainVideo" mat-list-icon>video_library</mat-icon>
    <h4 mat-line [matTooltip]="clip.name">
      <b>{{i}} - {{clip.name}}</b>
    </h4>
    <p mat-line *ngIf="!clip.isMainVideo">Start: {{clip.timeStart}}</p>
    <p mat-line *ngIf="!clip.isMainVideo">End: {{clip.timeEnd}}</p>
    <p mat-line *ngIf="clip.tags.length != 0" [matTooltip]="'Tags: '+clip.tags">Tags:
      <span *ngFor="let tag of clip.tags">{{tag}} </span>
    </p>
    <span mat-line *ngIf="clip.tags.length == 0">No tags</span>
    <div mat-line class="button-row">
      <button matTooltip="Play" mat-icon-button (click)="playVideo(clip,i)">
        <mat-icon>queue_play_next</mat-icon>
      </button>
      <button matTooltip="Edit Clip" *ngIf="!clip.isMainVideo && editable" (click)="editClip(clip,i)" mat-icon-button color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button matTooltip="Remove Clip" (click)="removeClip(i)" *ngIf="!clip.isMainVideo && editable" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <p style="color:orange" mat-line *ngIf="i == currentClipIndex">Playing</p>
  </mat-list-item>

</mat-list>
