<mat-sidenav-container class="sidenav-container">
  <mat-sidenav autosize
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Clips</mat-toolbar>
    <br>
    <button [disabled]="videoLength <= 0" mat-raised-button color="primary" (click)="openAddClipDialog()">
        <mat-icon aria-label="Add Clip">add_to_queue</mat-icon>
        Add Clip </button>
        <br>
        <br>
    <mat-divider></mat-divider>
    <app-video-list *ngIf="fullvideo!=null" [mainVideo]="fullvideo" editable="true"></app-video-list>
    <mat-card>
        <span *ngIf="fullvideo==null">Must load the main video to start splitting</span>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Video Challenge App - Video Player</span>
      <mat-card style="position: absolute;right:0;padding:5px">
          <p style="font-size: small"><mat-icon>info</mat-icon> To play next / previous video use the keyboard arrows</p>
        </mat-card>
    </mat-toolbar>
    <app-video-player *ngIf="fullvideo!=null" [video]="fullvideo"></app-video-player>
  </mat-sidenav-content>
</mat-sidenav-container>
