<video id="videoPlayer" [hidden]="isLoading">
  <source [src]="video" (error)="onError()"> Your browser does not support the video tag. Update your browser to view de video player :D
</video>
<mat-card *ngIf="isLoading" style="text-align: center" >
    <mat-card-content>
      <h2>Loading next video...</h2>
      <mat-progress-spinner style="margin:0 auto;"
          color="primary"
          mode="indeterminate">
      </mat-progress-spinner>
    </mat-card-content>
  </mat-card>
<input [hidden]="!clip?.isMainVideo" [style.display]="clip?.isMainVideo? 'block' : 'none'" type="range" id="seek-bar" style="width: 100%;">
<div *ngIf="clip?.isMainVideo" style="width: 100%;height: 60px;" >
    <mat-icon *ngFor="let clipitem of clipList; let i = index" (click)="playVideo(clipitem,i)" [style.margin-left.px]="getItemStyle(clipitem)" style="position:absolute" [matTooltip]="getClipTooltip(clipitem)" style="font-size: xx-large" [style.display]="!clipitem.isMainVideo? 'block' : 'none'">filter_frames</mat-icon>
</div>
<mat-card>
  <div style="text-align: center" id="video-controls">
    <mat-grid-list cols="12" rowHeight="50px">
      <mat-grid-tile colspan="2">
        <button mat-raised-button type="button" id="play-pause" color="primary">Play/Pause</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
          <p>Clip: <b>{{clip?.name}}</b> | {{currentTime}} -------- {{totalTime}}</p>
        <input type="range" style="width: 100%" min="0" id="seek-bar" style="display: none">
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <button mat-raised-button type="button" id="mute">Mute</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        Vol.<mat-icon style="position:relative">volume_mute</mat-icon>
        <input type="range" mat-slider style="width: 60%;margin-left: 5px;margin-right: 5px" tickInterval="1" id="volume-bar" min="0" max="1" step="0.1" value="1">
        <mat-icon style="position:relative">volume_up</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
          <button mat-raised-button type="button" id="full-screen">Full-Screen</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <button mat-raised-button type="button" color="accent" (click)="downloadFile()" id="download">Download</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>
